<div class="row">
  <div class="col-md-2"></div>
  <div class= "col-md-8 col-sm-8 fullBackground">
    <div class = "row">
      <div class="col-md-4 col-sm-4">
        <h2>Profile Picture</h2>
        <% if current_user.avatar? %>
          <img src="<%= current_user.avatar.profile.url %>" />
        <% else %>
          <img src="https://s3.amazonaws.com/apartmentfunder-development/images/Portrait_placeholder.png" width="200" />
      <% end %>
      </div>
      <div class="col-md-4 col-sm-4">
      <h2>Edit User</h2>
        <%= form_for(current_user) do |f| %>
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, autofocus: true, required: true, class: 'form-control' %>
        </div>
          <div class="form-group">
            <%= f.label :avatar %>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          </div>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      <% if @current_user.provider == nil %>
        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      <% end %>
        <div class="form-group">
          <%= f.submit "Update", class:'btn btn-success' %>
        </div>

        <% end %>
      <div class="form-group">
        <h3>Cancel my account</h3>
         <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

        <%#= link_to "Back", :back %>
      </div>
    </div>
</div><!--END ROW-->
</div><!--END BACKGROUND-->
</div>
