<div class="row">
  <div class="col-md-4 col-sm-4"></div>
  <div class="col-md-4 col-sm-4 registration">
    <h4 class="signIn">Sign Up Using Social Media</h4>
      <ul class="socialLogins">
        <a href="auth/facebook"><li class="facebook btn-social"></li></a>
        <a href="auth/linkedin"><li class="linkedin btn-social"></li></a>
      </ul>
  <h4 class="signIn">Sign Up with an Email Address</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, required: true, class: 'form-control', placeholder: "Enter name" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter Email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Enter Password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Re-Enter Password"  %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
  <div class="form-group">
    <%= render "devise/shared/links" %>
  </div>
<% end %> 
  </div>
</div>