  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4 registration">
        <h4 class="signIn">Login With Social Media</h4>
      <ul class="socialLogins">
        <a href="auth/facebook"><li class="facebook btn-social"></li></a>
        <a href="auth/linkedin"><li class="linkedin btn-social"></li></a>
      </ul>
      <h4 class="signIn">Login with Email</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
          <% end -%>

        <div class="form-group">
          <%= f.submit "Log in", class: 'btn btn-success'%>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
